.day-picker {
  ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    @include media-max(480) {
      margin: 0 -4px;
    }
    @include media-max(422) {
      background: #F6F9FF;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 100%;
      top: 54px;
      left: 0;
      background: #FFFFFF;
    }
    @include media-max(768) {
      justify-content: center;
    }
    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      border-radius: 2px;
      min-width: 85px;
      min-height: 54px;
      background: #F6F9FF;
      margin: 0 7.5px 12px 7.5px;
      @include media-max(480) {
        margin: 0 3.5px 12px 3.5px;
      }
      &.active {
        color: #FFFFFF;
        font-weight: 600;
        background: #38D900;
      }
      @include media-max(480) {
        min-width: 70px;
        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7){
          min-width: 95.33px;
          margin-bottom: 0;
        }
      }
    }
  }
}